<div>
    <h1>Data Table</h1>
    <table>
        <thead>
            <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of passedData" (click)="selectItem(element)">
            <td>{{ element.position }}</td>
            <td>{{ element.name }}</td>
            <td>{{ element.weight }}</td>
            <td>{{ element.symbol }}</td>
            </tr>
        </tbody>
    </table>
    <app-form *ngIf="selectedItem" [selectedItem]="selectedItem" (itemUpdated)="onItemUpdated($event)"></app-form>
</div>